<head>
    <base href="../../">
    <meta charset="utf-8" />
    <meta name="description" content="Page with empty content" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="/static/admin/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="/static/admin/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/static/admin/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/static/admin/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <link href="/static/admin/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="/static/admin/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="/static/admin/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="/static/admin/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Themes-->
    <link rel="shortcut icon" href="/static/admin/media/logos/favicon.ico" />