<html lang="zh">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
                <meta name="csrf-token" content="{:token()}"> 
		<link rel="canonical" href="https://keenthemes.com/metronic" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<link href="/static/admin/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/static/admin/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/static/admin/css/style.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/static/admin/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
		<link href="/static/admin/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
		<link href="/static/admin/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
		<link href="/static/admin/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
		<link rel="shortcut icon" href="/favicon.ico" /> 